{% spaceless %}
<html>
  <head>
    <title>{% block title %}{% endblock %}{{flatpage.title}}</title>

    <link rel="stylesheet" href="{{STATIC_URL}}css/main.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{STATIC_URL}}css/smoothness/jquery-ui.min.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{STATIC_URL}}css/smoothness/jquery.ui.theme.css" type="text/css" media="screen" />
    {% block css %}

    {% endblock %}

    <script type="text/javascript">var _gaq = _gaq || [];_gaq.push(['_setAccount', 'UA-34409654-1']);_gaq.push(['_trackPageview']);(function() {var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);})();</script>
  </head>
  <body>
    <div class="wrapper">
      <div id="header-wrapper">
        <div id="header">
          <h1><a href="{% url fm.views.index %}">foodmarks</a></h1>
          <div id="login">
            {% if user.is_authenticated %}
            <ul>
              <li>Welcome {{user.first_name}}!</li>
              <li><a href="{% url accounts.views.preferences %}">Preferences</a></li>
              <li><a href="/accounts/logout/">Logout</a></li>
            </ul>
            {% else %}
            <ul>
              <li><a href="/accounts/login/">Login</a></li>
            </ul>
            {% endif %}
          </div>
          {% block header %}

          {% endblock %}
        </div>
      </div>
      <div id="container">
        {% block nav %}
        <div id="nav">
          <ul>
            <li><a href="{% url fm.views.add_recipe %}">Add Recipe</a></li>
            <li><a href="{% url fm.views.search_recipes %}">Search Recipes</a></li>
            <li><a href="{% url fm.views.recipe_box %}">Recipe Box</a></li>
          </ul>
          <form id="nav-searchform" name="nav-searchform" action="{% url fm.views.search_recipes %}" method="get">
            <label>Title Search:
              <input id="nav-search" name="q" type="text" />
            </label>
          </form>
        </div>
        {% endblock %}
        <div id="inner-container">
          <div id="content">
            {% block content %}
            {% endblock %}
            {{flatpage.content}}
          </div>
        </div>
      </div>
      <div class="push"></div>
    </div>
    <div id="footer">
      <span>foodmarks &copy; 2011-2012. <a href="/about/">About Us</a> | <a href="/gettingstarted">Getting Started</a> | <a href="/contact/">Contact</a> | <a href="/improvements/">Improvements</a>
      </div>

      <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
      <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/jquery-ui.min.js"></script>
      <script type="text/javascript" src="{{STATIC_URL}}js/main.js"></script>
      <script type="text/javascript" src="{{STATIC_URL}}js/tag_editor.js"></script>
      <script type="text/javascript">
        var csrfToken = '{{ csrf_token }}';
        </script>
        {% block js %}

        {% endblock %}
      </body>
    </html>
    {% endspaceless %}
