<html>
  <head>
    <title>{% block title %}NO TITLE{% endblock %}</title>

    <link rel="stylesheet" href="{{STATIC_URL}}css/main.css" type="text/css" media="screen" />
    {% block css %}

    {% endblock %}
  </head>
  <body>
    <div id="container">
      <div id="header">
	<h1><a href="{% url fm.views.index %}">foodmarks</a></h1>
	<div id="login">
	  {% if user.is_authenticated %}
	  <ul>
	    <li>Welcome {{user.first_name}}!</li>
	    <li><a href="/logout/">Logout</a></li>
	  </ul>
	  {% else %}
	  <ul>
	    <li><a href="/login/">Login</a></li>
	  </ul>
	  {% endif %}
	</div>
	{% block header %}

	{% endblock %}
      </div>
      <div id="nav">
	<ul>
	  <li><a href="{% url fm.views.add_recipe %}">Add Recipe</a></li>
	  <li><a href="{% url fm.views.my_recipes %}">My Recipes</a></li>
	  <li><a href="{% url fm.views.search_recipes %}">Search Recipes</a></li>
	</ul>
	<form id="nav-searchform" name="nav-searchform" action="{% url fm.views.search_recipes %}" method="get">
	  <label>Search:
	     <input id="nav-search" name="q" type="text" />
	  </label>
	</form>
      </div>
      <div id="inner-container">
	<div id="content">
	  {% block content %}
	  NO CONTENT
	  {% endblock %}
	</div>
    </div>
      <div id="footer">
	<span>foodmarks &copy; 2011. <a href="mailto:kevin@kevinleung.com">Contact</a>
      </div>
    </div>


    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/main.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/tag_editor.js"></script>
    {% block js %}

    {% endblock %}
  </body>
</html>
