{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}foodmarks: {% if add %}Add Recipe{% else %}Edit {{recipe.title}}{% endif %}{% endblock %}

{% block content %}
{% spaceless %}
{% if not hide_page_header %}<h2>{% if add %}Add Recipe{% else %}Edit <a href="{% url 'fm.views.view_recipe' recipe.id %}">{{recipe.title}}</a>{% endif %}</h2>{% endif %}
<p>{{message}}</p>
<form id="mainform" name="mainform" action="./" method="post">
  {% csrf_token %}
  {{recipe_form.non_field_errors}}
  {{ribbon_form.non_field_errors}}
  <input type="hidden" name="recipe-id" value="{{recipe_form.instance.id|default:''}}" />
  <div class="row">
    <div class="col">
      {{recipe_form|crispy}}
      {{ribbon_form|crispy}}
      {% if user.is_staff %}
      <label>Add ribbon as:</label>
      <select name="user">
        {% for user in users %}
        <option value="{{user.id}}" {% if user.id == user_id %}SELECTED{% endif %}>{{user}}</option>
        {% endfor %}
      </select>
      {% endif %}
    </div>
    <div class="col">
      <div id="edit-tags">
        <h3>Tags</h3>
        <input id="tag-json" name="tag-json" type="hidden" />
        <table id="current-tags" class="tag-table">
        </table>
        <label for="new-value">Tag: </label>
        <input id="new-value" type="text"/>
        <label for="new-key"> Category: </label>
        <input id="new-key" type="text"/>
        <input type="button" id="add-tag" value="Add" style="display: none;" />
        <img id="tag-loader" class="loader" src="{{STATIC_URL}}/images/loader.gif" style="display: none;" />
        <p><small>Tips: <br/ >Hit enter after typing a tag to guess the category. <br />Hit enter again when you have a tag and category to add it.</small></p>
      </div>
      <input id="save-recipe" type="button" value="Save Recipe" />
    </div>
  </div>
</form>
{% endspaceless %}
{% endblock %}

{% block js %}
<script type="text/javascript">
  var knownValuesToKeys = {
    {% for value, key in known_values_to_keys.items %}
    '{{value}}': '{{key}}'{% if not forloop.last %},{% endif %}
    {% endfor %}
  }

  $(document).ready(function(){
    $('textarea').focusin(function(){
        $(this).animate({height: 120}, 100);
      }).focusout(function() {
        $(this).animate({height: 40}, 100);
      });

    $('#save-recipe').click(function(){
      document.getElementById('tag-json').value = generateTagJsonString();
      $('#mainform').submit();
    });

    jQuery.fx.off = true;
    {% for key, values in tags.items %}
    {% for value, value_dict in values.items %}
    {% if not value_dict.deleted %}
    {% if value_dict.id %}
    addTag('{{key}}', '{{value}}', {{value_dict.id}});
    {% else %}
    addTag('{{key}}', '{{value}}');
    {% endif %}
    {% endif %}
    {% endfor %}
    {% endfor %}
    jQuery.fx.off = false;
  });
</script>
{% endblock %}
