{% extends "base.html" %}

{% block title %}foodmarks: {% if add %}Add Recipe{% else %}Edit {{recipe.title}}{% endif %}{% endblock %}

{% block content %}
<h2>{% if add %}Add Recipe{% else %}Edit {{recipe.title}}{% endif %}</h2>
<p>{{message}}</p>
<form id="mainform" name="mainform" action="./" method="post">
  {% csrf_token %}
  {{recipe_form.errors}}
  {{ribbon_form.errors}}
  <input type="hidden" name="recipe-id" value="{{recipe_form.instance.id|default:''}}" />
  <table class="half-width">
    {{recipe_form.as_table}}
    {{ribbon_form.as_table}}
    {% if user.is_staff %}
    <tr><th>Add ribbon as:</th>
      <td>
	<select name="user">
	  {% for user in users %}
	  <option value="{{user.id}}" {% if user.id == user_id %}SELECTED{% endif %}>{{user}}</option>
	  {% endfor %}
	</select>
      </td>
    </tr>
    {% endif %}
  </table>
  <div class="half-width">
    <div id="edit-tags">
      <h3>Tags</h3>
      <input id="tag-json" name="tag-json" type="hidden" />
      <table id="current-tags">
      </table>
      Tag: <input id="new-value" type="text"/>
      Category: <input id="new-key" type="text"/>
      <img id="tag-loader" class="loader hide" src="{{STATIC_URL}}/images/loader.gif" />
      <ul>
	<li><strong>A few tips:</strong></li>
	<li>- try to input everything in the singular, without spaces, and without punctuation</li>
	<li>- after typing in a tag, hit enter, and foodmarks will try to automatically find a category
	<li>- common categories: course, method, cuisine, type, ingredient, occasion, season, dish, source, concern, content</li>
    </div>

    <input id="save-recipe" type="button" value="Save Recipe" />

  </div>
</form>
{% endblock %}

{% block js %}
<script type="text/javascript">
  var knownValuesToKeys = {
  {% for value, key in known_values_to_keys.items %}
  '{{value}}': '{{key}}'{% if not forloop.last %},{% endif %}
  {% endfor %}
  }

  $(document).ready(function(){

  $('#save-recipe').click(function(){
  document.getElementById('tag-json').value = generateTagJsonString();
  $('#mainform').submit();
  });

  {% for key, values in tags.items %}
  {% for value, value_dict in values.items %}
  {% if not value_dict.deleted %}
  {% if value_dict.id %}
  addTag('{{key}}', '{{value}}', {{value_dict.id}});
  {% else %}
  addTag('{{key}}', '{{value}}');
  {% endif %}
  {% endif %}
  {% endfor %}
  {% endfor %}

  });
</script>
{% endblock %}
