{% extends 'base.html' %}

{% block title %}foodmarks{% endblock %}

{% block content %}
<h2>Welcome to Foodmarks!</h2>
<p><a href="mailto:kevin@kevinleung.com">Contact me</a> if you want an account. Drag the link {% include "bookmarklet_link.html" %} into your bookmarks bar to bookmark recipes as you find them. Also, check out the <a href="http://youtu.be/A4BjjQNpQP0">demo</a> I put together if you're lost on how to use foodmarks.</p>
<h3>Recent Recipes <a class="rss-small" href="/feed/"></a></h3>
{% include "recipe_list.html" %}
{% endblock %}
