{% extends "base.html" %}

{% block title %}foodmarks: My Recipes{% endblock %}

{% block content %}
<h2>My Recipes</h2>
{% include "ribbons.html" %}
{% if page != 'all' %}
<div id="pagination">
  {% if page != 1 %}
  <a href="{% url fm.views.my_recipes %}?page={{page|add:'-1'}}">Prev</a>
  {% endif %}
  {% for p in page_range %}
  {% if p == page %}<span>{{p}}</span>
  {% else %}<a href="{% url fm.views.my_recipes %}?page={{p}}">{{p}}</a>{% endif %}
  {% endfor %}
  {% if page != num_pages %}
  <a href="{% url fm.views.my_recipes %}?page={{page|add:'1'}}">Next</a>
  {% endif %}
</div>
{% endif %}
{% endblock %}
