{% extends "base.html" %}

{% block title %}foodmarks: {{recipe}}{% endblock %}

{% block content %}
{% if recipe.link %}
<a href="{{recipe.link}}" target="_blank"><h2>{{recipe}}</h2></a>
{% else %}
<h2>{{recipe}}</h2>
{% endif %}
<div class="left-width">
  {% if recipe.description %}
  <strong>Description</strong>{{recipe.description|linebreaks}}
  {% endif %}
  {% if recipe.ingredients %}
  <strong>Ingredients</strong>{{recipe.ingredients|linebreaks}}
  {% endif %}
  {% if recipe.directions %}
  <strong>Directions</strong>{{recipe.directions|linebreaks}}
  {% endif %}

  {% if ribbon %}
  {% if ribbons.comments %}
  <strong>Comments</strong>{{ribbon.comments|linebreaks}}
  {% endif %}
  <strong>My Tags</strong>
  <table class="tag-table">
    {% for key, values in ribbon.get_tag_dict.items %}
    <tr><td class="key">{{key}}</td>
      <td>{% for value in values %}
      <span class="tag-value" title="{{value}}">{{value}}</span>
      {% endfor %}</td>
    </tr>
    {% endfor %}
  </table>
  {% endif %}
  <strong>All Tags</strong>
  <table class="tag-table">
    {% for key, values in recipe.get_tag_dict.items %}
    <tr><td class="key">{{key}}</td>
      <td>{% for value in values %}
      <span class="tag-value" title="{{value}}">{{value}}</span>
      {% endfor %}</td>
    </tr>
    {% endfor %}
  </table>
</div>
<div class="right-width">

  <strong>Bookmarked by</strong><br />
  <ul>
    {% for cur_ribbon in recipe.ribbon_set.all %}
    <li>{{cur_ribbon.user}}{% if cur_ribbon.is_boxed %} (Boxed){% endif %}</li>
    {% endfor %}
  </ul>
  <br />
  <strong>Actions</strong><br />
  <ul class="actions">
    {% if ribbon %}
    <li><a class="add-to-box {% if ribbon.is_boxed %}hide{% endif %}" href="#">Add To Recipe Box</a><a class="remove-from-box {% if not ribbon.is_boxed %}hide{% endif %}" href="#">Remove From Recipe Box</a></li>
    <li><a class="edit" href="{% url fm.views.edit_recipe ribbon.id %}">Edit</a></li>
    <li><a class="delete-ribbon" href="#">Delete Ribbon</a></li>
    <li>
      <input type="hidden" class="recipe-id" value="{{recipe.id}}" />
      <input type="hidden" class="ribbon-id" value="{{ribbon.id}}" />
    </li>
    {% else %}
    <li><a href="{% url fm.views.add_recipe %}?recipe={{recipe.id}}">Bookmark this recipe</a></li>
    {% endif %}
  </ul>
</div>
{% endblock %}
