<ul class="ribbon-list listings">
  {% for ribbon in ribbons %}{% with recipe=ribbon.recipe %}
  <li class="ribbon-listing listing">
    <div class="date">
      <span>{{ribbon.time_created|date:"d M y"}}</span>
    </div>
    <div class="picture">
    </div>
    <div class="data">
      <span><a href="{% url fm.views.recipe recipe.id %}">{{recipe}}</a></span>
    </div>
    <div class="meta">
      <div class="actions">
	<span><a class="edit" href="{% url fm.views.edit_recipe ribbon.id %}">Edit</a></span> |
	<span><a class="delete-ribbon" href="{% url fm.views.delete_ribbon ribbon.id %}">Delete</a></span>
      </div>
      <div class="tags">
	{% for tag in ribbon.tag_set.all %}
	<span class="tag"><a href="{% url fm.views.search_recipes %}?tag={{tag.key}}:{{tag.value}}" >{{tag}}</a></span>
	{% endfor %}
      </div>
    </div>
    <div class="total">{{recipe.ribbon_set.count}}</div>
  </li>
  {% endwith %}{% endfor %}
</ul>
