
/* -----------------------------------*/
/* ---------->>> GLOBAL <<<-----------*/
/* -----------------------------------*/
body { }
h1 { }
h2 { }
a, a:visited{color:grey; text-decoration:none;}
a:hover{text-decoration:underline;}
ul {list-style:none; padding:0; margin:0;}
/* -----------------------------------*/
/* ---------->>> LAYOUT <<<-----------*/
/* -----------------------------------*/
#container {width:960px; margin:0 auto;}
#inner-container {padding:5px;}
#header {background:#333; color:#eee; padding:5px;}
#nav {border-bottom:1px #000000 solid;}
#content { }
#footer {background:#333333; color:#eeeeee; font-size:14px; padding:5px;}
/* -----------------------------------*/
/* ---------->>> ESSENTIALS <<<-----------*/
/* -----------------------------------*/
#header h1{}
#login {float:right; position:relative; top:-65px;}
#nav li{display:inline;}