
/* -----------------------------------*/
/* ---------->>> GLOBAL <<<-----------*/
/* -----------------------------------*/
body {
    font-family: helvetica, arial, sans-serif;
    font-size:16px;
}
h1 { }
h2 { }
a, a:visited {
    color:#a0a0a0;
    text-decoration:none;
}
a:hover {
    text-decoration:underline;
}
ul {
    list-style:none;
    padding:0;
    margin:0;
}
.hide {
    display: none;!important
}
.half-width {
    float: left;
    width: 440px;
    }
.left-width {
    float: left;
    width: 640px;
    }
.right-width {
    float: left;
    width: 320px;
    }
/* -----------------------------------*/
/* ---------->>> LAYOUT <<<-----------*/
/* -----------------------------------*/
#container {
    width:960px;
    margin:0 auto;}
#inner-container {
    clear: both;
    padding-bottom: 10px;
}
#header {
    background:#eeeeee;
    color:#a0a0a0;
    padding:10px 20px;
}
#nav {
    border-bottom:1px #000000 solid;
}
#content {
}
#footer {
    background:#eeeeee;
    color:#a0a0a0;
    font-size:14px;
    padding:5px;
    text-align:center;
    clear: both;
}
/* -----------------------------------*/
/* ---------->>> ESSENTIALS <<<-----------*/
/* -----------------------------------*/
#header h1 {
}
#login {
    float:right;
    position:relative;
    top:-65px;
}
#nav li {
    display:inline-block;
    line-height:30px;
    height:30px;
    padding-right: 20px;
}
#nav li a {
    display:block;
    width:100%;
    height:100%;
}
#nav-searchform {
    float: right;
    margin-top: -25px;
}
/* -----------------------------------*/
/* >>> RECIPE/RIBBON LIST SHARED<<<---*/
/* -----------------------------------*/
.listing {
    height:50px;
    position:relative;
    border-bottom:1px solid #a0a0a0;
    padding:10px 0 5px;
}
.listing:first-child{
    border-top:1px solid #a0a0a0;
}
.listing .small-link {
    font-size: 10px;
    }
.listing .date {
    position:absolute;
    top:13px;
    font-size:12px;
    width:80px;
}
.listing .data {
    margin-left:80px;
}
.listing .meta {
    margin: 5px 0 0 80px;
    font-size:12px;
}
.listing .tags {
    float:right;
}
.listing .tag {
    background: #a0a0a0;
    padding: 3px;
}
.listing .tag a{
    color: #000000;
    }
.listing .actions {
    float:left;
}
.listing .total {
    background: #a0a0a0;
    position:absolute;
    top:0;
    right:0;
    padding:5px;
}
/* PAGINATION */
#pagination {
    text-align: center;
    clear: both;
    margin: 10px 0 15px;
    }
#pagination a, #pagination span {
    padding: 0 2px;
    }
/* -----------------------------------*/
/* ---------->>> RECIPE LIST <<<------*/
/* -----------------------------------*/

/* -----------------------------------*/
/* ---------->>> RIBBON LIST <<<------*/
/* -----------------------------------*/

/* -----------------------------------*/
/* ---------->>> RECIPE EDITOR <<<----*/
/* -----------------------------------*/
#save-recipe {
    float: right;
    margin-top: 10px;
}

/* -----------------------------------*/
/* ---------->>> TAG EDITOR <<<-------*/
/* -----------------------------------*/
#edit-tags {
    }
.tag-value {
    background: #a0a0a0;
    padding:3px 5px;
    margin:0 5px 0 0;
}
.tag-remove {
    cursor: pointer;
    background: #000000;
    color: #ffffff;
}
#tag-loader {
    display: inline;
}
#new-value {
    width: 100px;
    }
#new-key {
    width: 100px;
    }
/* -----------------------------------*/
/* ---------->>> SEARCH INTERFACE <<<-------*/
/* -----------------------------------*/
#tag-search-table {

    }
#tag-search-table th{
    vertical-align: top;
    }
#tag-search-table td{
    padding-bottom: 10px;
    }
.search-value-list {
    margin-left: 10px;
    }
.search-value-list li {
    display:inline-block;
}
.search-value-list li a{
    display:inline-block;
    border: 1px solid #a0a0a0;
    padding: 2px;
    maring: 2px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    }
.search-value-list li.selected a, .search-value-list li a:hover{
    color: #ffffff;
    background-color: #a0a0a0;
    text-decoration: none;
    }
.tag-search-checkbox {
    display:none;
    }